.container-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.register {
  background: #ffffff; /* caja blanca */
  padding: 2rem 3rem;
  border-radius: 1.5rem; /* esquinas redondeadas */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); /* sombra suave */
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.register form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #222;
}

.container-register img{
    width: 60px;
    height: 60px;
}

.register input {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  outline: none;
  transition: border 0.3s;
}

.register input:focus {
  border: 1px solid #007bff;
}

/* Botón */
.registrarse{
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.regresar{
  padding: 12px;
  background-color: #ff0202;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

